<a href="https://colab.research.google.com/github/clizardyy/Praktikum-Algoritma/blob/master/Week13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a class named MyClass, with a property named x:
class MyClass:
  x = 5

In [ ]:
#Create an obejct named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

5

In [12]:
#Create a class named Person, use the  __init__() function to assign values for name and age:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Ronald", 18)

print(p1.name)
print(p1.age)

Ronald
18

In [ ]:
#The string representation of an object WITH the __str__() function:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name} - ({self.age})"

p1 = Person("Ronald", 18)

print(p1)

Ronald - (18)

In [ ]:
#Insert  function that prints a greeting, and execute it on the p1 objec:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
p1 = Person("Ronald", 18)
p1.myfunc()

Hello my name is Ronald

In [ ]:
#Use the words mysillyobject and abc instead of self:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Ronald", 18)
p1.myfunc()

Hello my name is Ronald

In [ ]:
#Set the age of p1 to 40:

p1.age = 40

In [ ]:
#Delete the age property from the p1 object:
del p1.age

In [ ]:
#Delete the p1 object:

del p1

In [ ]:
class Person:
  pass

In [ ]:
from re import L
#Create a class named Person, with firstname and lastname and lastname properties, and a printname method:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)
#Use the Person class to create an object, and then execute the printname method:

x = Person("Ronald", "Bachtiar:)")
x.printname()

Ronald Bachtiar:)

In [ ]:
#Create a class named Student, which will inherit the properties and methods from the Person class:
class Student(Person):
  pass

In [ ]:
#Use the Student class to create an object, and then execute the printname method:

x = Student("IKKI", "Creative")
x.printname()

IKKI Creative

In [ ]:
#Add the __init__() function to the Student class:
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc
    Person.__init__(self, fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [11]:
Add a property called graduationyear to the Student class:

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2023

SyntaxError: invalid syntax (<ipython-input-11-3af815db8572>, line 1)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = 2023

x = Student("IKKI", "Creative", 2023)

In [ ]:
#Add a method called welcome to the Student class:

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
#Return an iterator from a tuple, and print each value:

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
#Strings are also iterable objects, containing a sequence of characters:

mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
#Iterate the values of a tuple:

mytuple = ("apple","banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
#Iterate the characters of a strings:

mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
#Create an iterator thats returns numers, starting with 1, and each sequence will increase by one(returning 1,2,3,4,5 etc.):

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
#Stop after 20 iterations:

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self
  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
x = "Hello World!"

print(len(x))

12

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(len(mytuple))

3

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Different classes with the same method:

class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
      self.brand = brand
      self.model = model

  def move(self):
      print("Fly!")

car1 = Car("Ford", "Mustang")       #create a Car object
boat1 = Boat("Ibiza", "Touring 20") #create a Boat object
plane1 = Plane("Boeing", "747")     #create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:
#Create a class called Vehicle and make Car, Boat, Plane child classes of Vehicle:

class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:
#Weekly Exercise 1
# Write your code below and press Shift+Enter to execute

class AlatTulis:
    def __init__(self):
        self.nama = ""
        self.stok = 0
        self.harga_satuan = 0
        self.total_harga = 0

    def set_alat_tulis(self, nama, stok, harga_satuan):
        self.nama = nama
        self.stok = stok
        self.harga_satuan = harga_satuan
        self.total_harga = stok * harga_satuan

    def get_alat_tulis(self):
        print(f"Nama: {self.nama}")
        print(f"Stok: {self.stok}")
        print(f"Harga Satuan: Rp.{self.harga_satuan}")
        print(f"Total Harga: Rp.{self.total_harga}")

    def set_total_harga(self, total_harga):
        self.total_harga = total_harga

    def get_total_harga(self):
        return self.total_harga

#Example
bolpoint = AlatTulis()
bolpoint.set_alat_tulis("Bolpoint", 10, 2000)
bolpoint.get_alat_tulis()

pensil = AlatTulis()
pensil.set_alat_tulis("Pensil", 10, 1000)
pensil.get_alat_tulis()

penghapus = AlatTulis()
penghapus.set_alat_tulis("Penghapus", 10, 500)
penghapus.get_alat_tulis()

total_harga = bolpoint.total_harga + pensil.total_harga + penghapus.total_harga

print(f"Total Harga: Rp.{total_harga}")

Nama: Bolpoint
Stok: 10
Harga Satuan: Rp.2000
Total Harga: Rp.20000
Nama: Pensil
Stok: 10
Harga Satuan: Rp.1000
Total Harga: Rp.10000
Nama: Penghapus
Stok: 10
Harga Satuan: Rp.500
Total Harga: Rp.5000
Total Harga: Rp.35000